body {
  background-color: rgb(236, 240, 241);
}

#content {
  width: 70%;
  height: auto;
  margin: auto;
  background-color: rgb(236, 240, 241);
  font-family: 'Lato', sans-serif;
}

#titleArea {
  text-align: center;
  font-size: 40px;
}

.languageButton {
  width: 50%;
  font-size: 30px;
  border: none;
  background-color: rgb(236, 240, 241);
}

button:hover {
  background-color: rgb(52, 152, 219);
  color: rgb(236, 240, 241);
  border-radius: 10px;
}